.project {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  img {
    max-width: 500px;
    width: 50vw;
    border-radius: 50%;
    outline: 5px solid var(--color-one);
    outline-offset: -5px;
  }
  hr {
    border: 0;
    border-top: 2px dashed;
    height: 2px;
    width: 70vw;
    border-radius: 5px;
    background: linear-gradient(to right, var(--color-one), var(--color-three));
  }
  h3 {
    color: var(--color-one);
    font-family: var(--font-two);
    font-size: 1.3rem;
  }
  p {
    color: var(--color-three);
    font-family: var(--font-two);
    text-align: center;
  }
}
