.projectCard {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  img {
    max-width: 500px;
    width: 50vw;
    border-radius: 50%;
    outline: 5px solid var(--color-one);
    outline-offset: -5px;
  }
  h3 {
    color: var(--color-one);
    font-family: var(--font-two);
    font-size: 1.3rem;
  }
  p {
    color: var(--color-three);
    font-family: var(--font-two);
    text-align: center;
  }
}
