.mainHero {
  background-color: var(--color-two);
  height: 100vh;
  h1,
  h2 {
    color: var(--color-one);
    font-family: var(--font-one);
  }
  p {
    color: var(--color-three);
    font-family: var(--font-two);
  }
}
