@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Quattrocento:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-one: #fda2a8;
  --color-two: #130202;
  --color-three: #fffcf2;

  --font-one: "Oswald", sans-serif;
  --font-two: "Quattrocento", serif;
}
